[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
scipy = "==1.0.0"
scikit-learn = "*"
tqdm = "*"
opencv-python = "*"
imageio = "*"
noise = "*"
matplotlib = "*"
imutils = "*"
joblib = "*"
torch = "==0.4.1"
torchvision = "*"
addict = "*"
click = "*"
dominate = "*"
dill = "*"
scikit-image = "*"
requests = "*"
Pillow = "*"
PyYAML = "*"
pydensecrf = "*"
requirements-txt = "*"
jupyterlab = "*"
yaml = "*"
tensorflow = "==1.14.0"
dnnlib = "*"
tensorflow-gpu = "==1.14.0"
keras = "*"
numpy = "==1.16.4"
ipywidgets = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
